@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --couleur-primaire: #B9DEB4;
    --couleur-secondaire: #2F6F42;
    --font-titre: "Montserrat", sans-serif;
    --font-texte: "Inter", sans-serif;
    --font-titre-weight: 700;
    --font-titre-size: 3.5rem;
    --font-sous-titre-size: 1.8rem;
    --font-texte-size: 1rem;
    --font-titre-section-size: 2rem;
    --margin: 40px;
    --gap: 35px;
    --card-radius: 20px;
    --stats-text-padding: 5%;
}

* {
    box-sizing: border-box;
}

img {
    width: 250px;
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    background-image: url(../images/hero.jpeg);
    background-size: cover;
    background-position: center;
    gap: 20px;
}

#hero>h2 {
    font-family: var(--font-texte);
    font-size: var(--font-sous-titre-size);
    color: white;
    font-style: italic;
    font-weight: 400;

}

#hero>h1 {
    font-family: var(--font-titre);
    font-size: var(--font-titre-size);
    color: white;
    line-height: var(--font-titre-size);
}

#hero>a {
    display: flex;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--couleur-secondaire);
    width: 150px;
    margin-top: 40px;
}

#stats {
    margin: var(--margin);
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: var(--gap);
}

.stat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: var(--couleur-primaire);
    border-radius: var(--card-radius);
}

.stats-text {
    display: flex;
    align-items: center;
    font-family: var(--font-titre);
    font-weight: var(--font-titre-weight);
    font-size: var(--font-titre-section-size);
    line-height: 2.5rem;
}

.stats-text--left {
    justify-content: center;
    text-align: left;
    padding-left: var(--stats-text-padding);
}

.stats-text--right {
    justify-content: center;
    text-align: right;
    padding-right: var(--stats-text-padding);
}

/* equipes */

#equipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding: var(--margin);
    background-color: var(--couleur-primaire);
}

#equipes>h2 {
    font-family: var(--font-titre);
    font-size: var(--font-titre-section-size);
    line-height: var(--font-titre-section-size);
    text-align: center;
    margin-bottom: 70px;
}

.carousel {
    width: 100%;
    /* overflow: hidden; */
}

.carousel__track {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
    will-change: transform;
}

.carousel__row {
    display: flex;
    gap: 32px;
    padding-inline: 10px;
}

.carousel:hover .carousel__track {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#teamList {
    display: flex;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    height: 330px;
    border-radius: 20px;
}

.team-card__img {
    height: 200px;
    object-fit: scale-down;
}

.team-card__name {
    font-family: var(--font-texte);
}

#container-btn-equipe {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#btn-equipes {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: var(--couleur-secondaire);
    width: 150px;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 10px;
}

#btn-suffix {
    padding-left: 5px;
}




/* formulaire */

#formulaire {
    margin: var(--margin);
    display: flex;
    flex-direction: row;
    height: 600px;
}

#form-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5%;
    gap: 20px;
}

#form-left>h2 {
    font-family: var(--font-titre);
    font-size: var(--font-titre-section-size);
    line-height: var(--font-titre-section-size);
}

#form-left>p {
    font-family: var(--font-texte);
    font-size: var(--font-texte-size);
}

#form-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#downloadForm {
    display: flex;
    flex-direction: column;
    background-color: var(--couleur-primaire);
    padding: 20px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-texte);
    font-size: var(--font-texte-size);
    height: 400px;
}

input {
    border-radius: 10px;
    border: none;
    padding: 10px;
}

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    flex-direction: column;
    background-color: #B9DEB4;
    font-family: var(--font-texte);
    font-size: var(--font-texte-size);
    padding: 10%;
}

/* Responsive */

@media screen and (max-width: 900px) {
    .stats-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: var(--gap);
    }
}

@media screen and (max-width: 720px) {
    .stats-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        gap: var(--gap);
    }

    .stats-text--left {
        justify-content: center;
        text-align: center;
    }

    .stats-text--right {
        justify-content: center;
        text-align: center;
    }

    #formulaire {
    
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }

    #form-left {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5%;
    gap: 20px;
    }

    #form-left>h2 {
        font-family: var(--font-titre);
        font-size: var(--font-titre-section-size);
        line-height: var(--font-titre-section-size);
    }

    #form-left>p {
        font-family: var(--font-texte);
        font-size: var(--font-texte-size);
    }

    #form-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

}